<div class="timer">
  <div class="timer_item">
    <p class="timer_item-title">{{daysToDday}}</p>
    <p class="timer_item-text">Days</p>
  </div>
  <div class="timer_item">
    <p class="timer_item-title">{{hoursToDday}}</p>
    <p class="timer_item-text">Hours</p>
  </div>
  <div class="timer_item">
    <p class="timer_item-title">{{minutesToDday}}</p>
    <p class="timer_item-text">Minutes</p>
  </div>
  <div class="timer_item">
    <p class="timer_item-title">{{secondsToDday}}</p>
    <p class="timer_item-text">Seconds</p>
  </div>
</div>
