<div class="parts-container">
  <div>
    <h1 class="title">
      Weather
      <span class="title_bold">Forecast</span>
    </h1>

    <div class="search-input_wrapper">
      <button class="search-input_button material-symbols-outlined">search</button>
      <input class="search-input_input" type="text" placeholder="Search your trip">
    </div>

    <div class="list">
      <app-city-card [cityData]="forecast"></app-city-card>
        <button class="add-trip-btn" (click)="addTrip()">
          <p class="material-symbols-outlined">add</p>
          <p>Add trip</p>
        </button>
    </div>

    <h2 class="section-title">Week</h2>

    <div class="list">
      <app-day-card *ngFor="let day of forecast.days" [dayData]="day"></app-day-card>
    </div>
  </div>


  <div class="counter">
    <app-counter [data]="forecast"></app-counter>
  </div>
</div>

<app-popup *ngIf="isActive" (isOpened)="isPopupShown($event)"></app-popup>
